@tailwind base;
@tailwind components;
@tailwind utilities;

/* 手机端 */
@media screen and (max-width: 1240px) {
    body {
        font-size: 14px !important;
        transition: all 0.5s;
    }

    .acr-img {
        height: 110px;
    }

    .index-box {
        @apply flex flex-col pl-10 pr-10;
    }

    .o-icon {
        @apply text-center text-gray-500;
    }

    .content {
        @apply pl-4 pr-4;
    }

    #artCard {
        @apply flex-col;
    }

    #artCard .arc-info {
        @apply h-14 flex items-center;
        margin-bottom: -24px;
    }

    #artCard .o-tag {
        display: none;
    }

    #artCard .o-title {
        display: flex;
        align-items: center;
    }

    #artCard .o-time {
        display: none;
    }

    #artCard .img {
        display: flex;
        justify-content: center;
    }

    #movies .movie-card {
        @apply justify-center;
    }

    #movies .movie-item {
        transition: all 0.5s;
        @apply rounded-md pl-5 pr-5 pt-5 pb-2 ml-5 mr-5 mt-5 w-36 h-60 flex justify-center flex-col items-center cursor-pointer;
    }

    #movies .movie-tab {
        @apply ml-8 mr-8;
    }

    .movie-drawer {
        width: 80% !important;
    }

    .movie-info {
        @apply top-72;
    }
}

/* pc端 */
@media screen and (min-width: 1241px) {
    body {
        font-size: 16px !important;
        transition: all 0.5s;
    }

    .acr-img {
        height: 100px;
    }

    .index-box {
        @apply flex flex-wrap pl-40 pr-40;
    }

    .o-icon {
        @apply text-left text-gray-500;
    }

    .content {
        @apply pl-24;
    }

    #artCard {
        @apply flex-row;
    }

    #artCard .o-tag {
        display: block;
    }

    #artCard .o-title {
        /* display: block; */
    }

    #artCard .o-time {
        display: block;
    }

    #artCard .img {}

    #movies .movie-card {
        @apply ml-72 mr-64;
    }

    #movies .movie-item {
        transition: all 0.5s;
        @apply rounded-md pl-5 pr-5 pt-5 ml-5 pb-2 mr-5 mt-5 w-36 h-60 flex justify-center flex-col items-center cursor-pointer;
    }

    .movie-drawer {
        width: 30% !important;
    }

    .movie-info {
        top: 44%;
    }
}